<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.about.name }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.about.whoyouare }}</li>
          <li><a href="mailto:{{ site.about.email }}">{{ site.about.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.social.github %}
          <li>
            <a href="https://github.com/{{ site.social.github }}">
              <span class="username">github.com/{{ site.social.github }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.social.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.social.twitter }}">
              <span class="username">twitter.com/{{ site.social.twitter }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
